{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Post{% endblock %}</h1>
  <hr>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" value="{{ request.form['title'] }}" required>
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Body</label>
      <textarea type="text" class="form-control" id="body" name="body" required>{{ request.form['body'] }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary mx-auto d-block">Save</button>
  </form>
{% endblock %}