{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
  <hr>
{% endblock %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" value="{{ request.form['title'] or post['title'] }}" required>
    </div>
    <div class="mb-3">
      <label for="body" class="form-label">Body</label>
      <textarea type="text" class="form-control" id="body" name="body" required>{{ request.form['body'] or post['body'] }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary mx-auto d-block">Save</button>
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <button id="deleteButton" type="submit" class="btn btn-danger mx-auto d-block">Delete</button>
  </form>
{% endblock %}

{% block scripts %}
  <script>
    document.getElementById("deleteButton").addEventListener("click", function(event) {
      // 弹出确认框
      if (!confirm("确定要执行此操作吗？")) {
        // 如果用户点击了“取消”，则阻止默认行为
        event.preventDefault();
      } else {
        // 继续执行删除操作
        alert("操作已确认！");
      }
  });
  </script>
{% endblock %}