<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a class="navbar-brand" href="#">Flaskr</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">首页</a>
              </li>
          </ul>
          <div class="d-flex ms-auto align-items-center">
            {% if g.user %}
                <span class="me-2 text-secondary fs-5">{{ g.user['username'] }}</span>
                <a class="btn btn-primary" href="{{ url_for('auth.logout') }}">退出</a>
            {% else %}
                <a class="btn btn-outline-primary me-2" href="{{ url_for('auth.register') }}">注册</a>
                <a class="btn btn-primary" href="{{ url_for('auth.login') }}">登录</a>
            {% endif %}
          </div>
      </div>
  </div>
</nav>